@import "tailwindcss";


@theme {
  --font-inter: 'Inter', 'sans-serif';
  --font-poppins: 'Poppins', 'sans-serif';
  --logo:70px;
  --silver: hsla(0, 0%, 75%,0.3);
  --plumb-purple: hsl(282, 44%, 47%);
}

/* Custom font utility classes */
.font-inter {
  font-family: var(--font-inter);
}

.font-poppins {
  font-family: var(--font-poppins);
}
.bg-silver{
  background-color: var(--silver);
}
.bg-plumb-purple{
  background-color: var(--plumb-purple);
}
.silver-color{
  color: var(--silver);
}
.plumb-purple-color{
  color: var(--plumb-purple);
}
.swiper-button-next,
.swiper-button-prev {
  color:var(--plumb-purple) !important;
}

@media screen and (max-width:768px) {
  .swiper-button-next,
  .swiper-button-prev {
    @apply hidden;
  }
}

@layer base{
  body{
  @apply font-inter;
}
img{
  max-width: 100%;
}
}

